# Go-specific ignores
# Binaries and build artifacts
/bin/
/obj/

# Go mod and vendor files
/go.sum
/go.mod

# Local Go workspace
/.vscode/

# IntelliJ specific ignores
.idea/

# User-specific IntelliJ configuration
.idea/*

# OS-specific files
.DS_Store
Thumbs.db

# Go-related cache and history
.golangci.yml
.golangci-lint-cache/
*.log

# Go coverage reports
*.out

# IntelliJ compiled files
*.iml
*.iws
*.ipr

# Project-based IntelliJ configurations
.idea/modules.xml
.idea/workspace.xml
.idea/tasks.xml

# Other IDEs and tools
.vscode/
